@charset "UTF-8";

#nav {position: relative;}
#nav .nav {position: fixed; width: 100%; background-color: rgba(255,255,255,0.5);}
#nav .nav h2 {font-size: 35px; font-weight: bold; padding: 3px 20px; text-shadow: 2px 2px 0 #fff;}

#nav ul {position: fixed; top: 50%; right: 25px; transform: translate(0,-50%);}
#nav ul li {
  width: 20px; height: 20px; background-color: rgba(255,255,255,0.2);
  margin-top: 15px; border: 2px solid #666; border-radius: 50%;
  cursor: pointer; position: relative; transition: all 0.3s ease;
}
#nav ul li em {
  background-color: rgba(255,255,255,0.7); width: 50px; height: 50px; display: block;
  border-radius: 50%; left: -15px; top: -15px; position: absolute; opacity: 0; transition: all 0.3s ease;
}
#nav ul li.active em {opacity: 1; width: 20px; height: 20px; top: 0; left: 0;}
#contents {user-select: none; pointer-events: none; overflow: hidden;}
#contents section {height: 100vh; line-height: 100vh;}
#contents section h2 {
  font-size: 8vw; text-shadow: 0.5vw 0.5vw 0 #000;
  color: #fff; text-align: center; opacity: 0; transition: all 0.6s ease-In-Out;
}
#contents #sec1 {background:radial-gradient(ellipse farthest-corner at 80% 20%, #1d7004 20%, #4a703e 80%);}
#contents #sec2 {background:radial-gradient(ellipse farthest-corner at 10% 90%, #49455b 20%, #11054a 80%);}
#contents #sec3 {background:radial-gradient(ellipse farthest-corner at 40% 60%, #0f4e66 20%, #40555d 80%);}
#contents #sec4 {background:radial-gradient(ellipse farthest-corner at 50% 50%, #604b00 20%, #554d30 80%);}
#contents #sec5 {background:radial-gradient(ellipse farthest-corner at 30% 70%, #000155 20%, #343559 80%);}
#contents section.show h2 {opacity: 1;}

/* https://daneden.github.io/animate.css/ */
#contents #sec1.show h2 {animation: bounceInRight 1s;}
#contents #sec2.show h2 {animation: rubberBand 1s;}
#contents #sec3.show h2 {animation: zoomInUp 1s;}
#contents #sec4.show h2 {animation: flipInX 1s;}
#contents #sec5.show h2 {animation: jello 1s;}


/* // */
