@charset "UTF-8";
@font-face {
    src: url(../fonts/TmonMonsori.ttf);
    font-family: 'TmonMonsori';
}
@font-face {
    src: url(../fonts/KoPubWorld.ttf);
    font-family: 'KoPubWorld';
}
@font-face {
    src: url(../fonts/GyeongGi.ttf);
    font-family: 'GyeongGi';
}
@font-face {
    src: url(../fonts/yanol_Bold.ttf);
    font-family: 'yanol_bold';
}
@font-face {
    src: url(../fonts/yanol_Regular.ttf);
    font-family: 'yanold_reg';
}
