@charset "UTF-8";
body {background-color: #111; }
#wrap h1 {font-size: 135px; padding: 5%; color: #dc6e25; display: block;}
#wrap h1 em {font-weight: 100; padding-left: 330px; display: block;}

#wrap .cont_it {
  margin: 10% 0 25%; width: 1000px;
  user-select: none; position: relative; box-sizing: border-box;}
#wrap .cont_it .cont_it_num {
  display: block; color: #777; opacity: 0.1; position: absolute;
  font-size: 300px; font-weight: 100; user-select: none;
  top: 0; right: 0;
}
#wrap .cont_it .cont_it_tit {padding-top: 250px; color: #888; text-align: right; font-size: 25px;}
#wrap .cont_it .cont_it_imgwrap {height: 500px; width: 1000px;}
#wrap .cont_it .cont_it_imgwrap .cont_it_img {height: 100%; width: 100%; background: url(img1.jpg); filter: grayscale(100%); z-index: 10;}
#wrap .cont_it .cont_it_desc {
  color: #fff; position: absolute; bottom: -100px; right: -100px; z-index: 20;
  font-size: 65px; text-shadow: 5px 5px 0 #333; display: inline-block;
  text-align: right; padding-left: 200px;
}
#wrap #sec2 {float: right;}
#wrap #sec2 .cont_it_num {right: auto; left: 0;}
#wrap #sec2 .cont_it_tit {text-align: left;}
#wrap #sec2 .cont_it_desc {text-align: left; right: auto; left: -100px; padding-left: 0; padding-right: 200px;}







/* // */
