@charset "UTF-8";

#nav {
  position: fixed; background-color: rgba(255,255,255,0.3);
  height: 100%; width: 300px; top: 0; left: -300px; transition: left 0.3 ease;
}
#nav.active {left: 0; transition: left 0.3 ease;}
#nav .nav {width: 100%; height: 100%; position: relative;
padding: 55px 0; box-sizing: border-box;}
#nav h2 {
  text-align: center; font-size: 40px; font-weight: 600;
  padding-bottom: 30px; text-shadow: 0 2px 2px #fff;
}
#nav ul {}
#nav ul li {
  text-align: left; user-select: none; font-size: 22px;
  padding: 15px 25px; text-shadow: 0 2px 2px #fff; cursor: pointer;
}
#nav ul li.active, #nav ul li:hover {background-color: rgba(0,0,0,0.3);}
#nav ul li.active a, #nav ul li:hover a { color: #fff; text-shadow: 0 2px 2px #333;}
#nav ul li a {}
#nav .menuIcon {
  position: absolute; top: 10px; right: -60px;
  cursor: pointer; background-color: rgba(255,255,255,0.3);
  border-radius: 50%; width: 50px; height: 50px; line-height: 50px;
  text-align: center;
}

#contents {}
#contents section {height: 100vh;}
#contents section h2 {
  line-height: 100vh; text-align: center; font-size: 7vw;
  font-weight: 600; color: #333;
}
#contents #sec1 {background-color: #e09393;}
#contents #sec2 {background-color: #99e093;}
#contents #sec3 {background-color: #93cbe0;}
#contents #sec4 {background-color: #9b93e0;}
#contents #sec5 {background-color: #e093d2;}

























/* // */
