@charset "UTF-8";
@font-face {
  src: url(../fonts/Gugi-Regular.ttf);
  font-family: "Gugi";
}
@font-face {
  src: url(../fonts/SansitaSwashed-VariableFont_wght.ttf);
  font-family: "Sansit";
}
* {font-family: 'Gugi';}

/* 레이아웃 */
/* 헤더영역 레이아웃 */
#header {width: 100%; border-bottom: 1px solid #c6c6c6;}
.container {width: 1280px; position: relative; margin: 0 auto;
overflow: hidden;}
.row {padding: 0 28px;}
.header h1 {float: left;}
.header h1 a em {padding: 8px 8px; display: inline-block;}
.header h1 a em img {width: 155px; height: 100%; margin-top: 10px;}
.header h1 a strong {overflow: hidden; display: inline-block;}
.header h1 a strong img {width: 126px;height: 100%;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav ul li {float: left; width: 103px; text-align: center;
border-right: 1px solid #c6c6c6;}
.header .nav ul li a {
  padding: 20px 10px; font-size: 18px; display: block;
  color: rgb(62, 26, 113);
}
/* //헤더영역 레이아웃 */

/* 모바일용 내비 */
#mob_nav {
  position: absolute; top: 15px; right: 14px;
  display: none;
}
#mob_nav .ham {
  display: block; width: 25px; height: 23px;
  padding: 8px 10px;
}
#mob_nav .ham span {
  display: block; width: 25px; height: 4px; background-color: #3a0e6a;
  position: relative; margin-top: 8px;
}
#mob_nav .ham span::before {
  content: ''; position: absolute; bottom: -7px;
  display: block; width: 25px; height: 4px; background-color: #3a0e6a;
}
#mob_nav .ham span::after {
  content: ''; position: absolute; top: -7px;
  display: block; width: 25px; height: 4px; background-color: #3a0e6a;
}
/* // */

/* 배너영역 레이아웃 */
#banner {position: relative;}
.menu {
  position: absolute;top: 20px;  left: 0; width: 100%; height: 100px;
  z-index: 10;
}
.menu a {color: #fff; font-size: 16px; transition: all 0.3s;}
.menu a:hover {color: #c1c1c1; font-size: 16px;}
.menu .left {float: left;}
.menu .left ul {padding-top: 7px;}
.menu .left ul li {
  display: inline-block; margin-right: 30px; position: relative;
  text-shadow: 1px 1px 0 #000;
}
.menu .left ul li.total {margin-right: 20px;}
.menu .left ul li.total a {
  font-size: 14px; padding: 3px 10px;
  display: inline-block;border: 1px solid #fff;
  transition: all 0.3s;
}
.menu .left ul li.total a:hover {
  background-color: #fff; border-color: #000; color: #000;
}
.menu .right {float: right; overflow: hidden;}
.menu .right ul {float: left;}
.menu .right ul:first-child {padding-top: 7px;}
.menu .right ul li {display: inline-block; text-align: center; margin-right: 20px;
position: relative; text-shadow: 1px 1px 0 #000;}
.menu .right ul li.line {}
.menu li.line::after {
  content: ''; width: 1px; height: 14px; background-color: #fff; position: absolute;
  right: -18px; top: 2px;
}
.menu .right li.white {margin-right: 10px;}
.menu .right li.white a {width: 80px; background-color: #fff; color: #3a0e6a;
padding: 7px 30px 9px 30px; border: 1px solid #fff; display: inline-block;}
.menu .right li.purple {margin-right: 0;}
.menu .right li.purple a {width: 80px; background-color: #3a0e6a; color: #fff;
padding: 7px 30px 9px 30px; border: 1px solid #6240c4; display: inline-block;}
/* //배너영역 레이아웃 */


/* 메인 슬라이드 */
.slider {width: 100%; height: 600px;}
.slider .ss1 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}
.slider .ss2 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}
.slider .ss3 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}
/* //메인 슬라이드 */





























/* //레이아웃 */


/* 미디어쿼라 */
@media (max-width: 1290px) {
  .container {width: 100%;}
  .header .nav ul li {width: 85px;}
  .header .nav ul li a {padding: 18px 8px;}
  /* // 헤더-내비 */
}
@media (max-width: 1024px) {
  .row {padding: 0 24px;}
  .header h1 {float: none; text-align: center;}
  .header h1 strong {left: 24px; position: absolute; top: 23px;}
  .header .nav {display: none;}
  #mob_nav {display: block;}
  /* //헤더-내비 */

}
@media (max-width: 960px) {

}
@media (max-width: 768px) {
  .row {padding: 0 8;}
  .header h1 {text-align: left;}
  .header h1 a strong {display: none;}

}
@media (max-width: 480px) {

}
@media (max-width: 320px) {

}































/* //미디어쿼리 */
