@charset "UTF-8";
@font-face {
  src: url(../fonts/Gugi-Regular.ttf);
  font-family: "Gugi";
}
@font-face {
  src: url(../fonts/SansitaSwashed-VariableFont_wght.ttf);
  font-family: "Sansit";
}
* {font-family: 'Gugi';}

/* 레이아웃 */
/* 헤더영역 레이아웃 */
#header {width: 100%; border-bottom: 1px solid #c6c6c6; transition: all 0.3s ease;}
.container {width: 1280px; position: relative; margin: 0 auto;
overflow: hidden; height: 100%;}
.row {padding: 0 28px;}
.header h1 {float: left;}
.header h1 a em {padding: 8px 8px; display: inline-block;}
.header h1 a em img {width: 155px; height: 100%; margin-top: 10px;}
.header h1 a strong {overflow: hidden; display: inline-block;}
.header h1 a strong img {width: 126px;height: 100%;}
.header .nav {float: right;}
.header .nav ul {border-left: 1px solid #c6c6c6;}
.header .nav ul li {float: left; width: 103px; text-align: center;
border-right: 1px solid #c6c6c6;}
.header .nav ul li a {
  padding: 20px 10px; font-size: 18px; display: block;
  color: rgb(62, 26, 113);
}
/* //헤더영역 레이아웃 */

/* 모바일용 내비 */
#mob_nav {
  position: absolute; top: 15px; right: 14px;
  display: none;
}
#mob_nav .ham {
  display: block; width: 25px; height: 23px;
  padding: 8px 10px;
}
#mob_nav .ham span {
  display: block; width: 25px; height: 4px; background-color: #3a0e6a;
  position: relative; margin-top: 8px;
}
#mob_nav .ham span::before {
  content: ''; position: absolute; bottom: -7px;
  display: block; width: 25px; height: 4px; background-color: #3a0e6a;
}
#mob_nav .ham span::after {
  content: ''; position: absolute; top: -7px;
  display: block; width: 25px; height: 4px; background-color: #3a0e6a;
}
/* // */

/* 배너영역 레이아웃 */
#banner {position: relative; transition: all 0.3s ease;}
.menu {
  position: absolute;top: 20px;  left: 0; width: 100%; height: 100px;
  z-index: 10;
}
.menu a {color: #fff; font-size: 16px; transition: all 0.3s;}
.menu a:hover {color: #c1c1c1; font-size: 16px;}
.menu .left {float: left;}
.menu .left ul {padding-top: 7px;}
.menu .left ul li {
  display: inline-block; margin-right: 30px; position: relative;
  text-shadow: 1px 1px 0 #000;
}
.menu .left ul li.total {margin-right: 20px;}
.menu .left ul li.total a {
  font-size: 14px; padding: 3px 10px;
  display: inline-block;border: 1px solid #fff;
  transition: all 0.3s;
}
.menu .left ul li.total i {padding-right:5px;}
.menu .left ul li.total a:hover {
  background-color: #fff; border-color: #000; color: #000;
}
.menu .right {float: right; overflow: hidden;}
.menu .right ul {float: left;}
.menu .right ul:first-child {padding-top: 7px;}
.menu .right ul li {display: inline-block; text-align: center; margin-right: 20px;
position: relative; text-shadow: 1px 1px 0 #000;}
.menu .right ul li.line {}
.menu li.line::after {
  content: ''; width: 1px; height: 14px; background-color: #fff; position: absolute;
  right: -18px; top: 2px;
}
.menu .right li.white {margin-right: 10px;}
.menu .right li.white a {width: 80px; background-color: #fff; color: #3a0e6a;
padding: 7px 30px 9px 30px; border: 1px solid #fff; display: inline-block;}
.menu .right li.purple {margin-right: 0;}
.menu .right li.purple a {width: 80px; background-color: #3a0e6a; color: #fff;
padding: 7px 30px 9px 30px; border: 1px solid #6240c4; display: inline-block;}
/* //배너영역 레이아웃 */


/* 메인 슬라이드 */
.slider {width: 100%; height: 600px; transition: all 0.3s ease;}
.slider .ss1 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}
.slider .ss2 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}
.slider .ss3 {
  background: url(../img/swiper01.jpg) no-repeat center center;
  background-size: cover;
}
.slider .swiper-slide {text-shadow: 2px 2px 0 #000;}
.slider .swiper-slide .container {padding-left: 50px;}
.slider .swiper-slide h2 {font-size: 62px; color: #fff; margin-top: 150px;}
.slider .swiper-slide h2 em {display: block; font-size: 50px; font-weight: 0;}
.slider .swiper-slide p {
  font-size: 27px; color: #fff; margin-top: 15px; padding-right: 40px;
  position: relative; display: inline-block; padding-top: 15px;
}
.slider .swiper-slide p::after {
  content: ''; width: 100%; height: 1px; background-color: rgba(255,255,255,0.5);
  position: absolute; top: 0; left: 0;
}
/* //메인 슬라이드 */










/* 메인 무비 */
#movie {padding: 100px 0;}
#main {overflow: hidden;}
#main .title {margin-bottom: 50px;}
#main .title ul {overflow: hidden; width: 848px; margin: 0 auto;}
#main .title ul li {
  float: left; width: 210px; text-align: center; border: 1px solid #000;
  margin-right: -1px;
}
#main .title ul li a {
  display: block; padding: 5px 15px; font-size: 18px; font-weight: 700;
}
#main .title ul li.active a {
  background-color: #666; color: #fff;
}
/* 무비-메인-차트-> chart_cont1 - col작업 */
.swiper-container2 {transition: all 0.3s ease;}
.chart_cont .col  {display: inline-block; width: 292px;}
.chart_cont .col .poster  {position: relative;}
.chart_cont .col .poster .rank {
  position: absolute; top: 17px; left: 0; width: 58px; height: 58px; line-height: 58px;
  background-color: #38116a; text-align: center; font-size: 22px; box-shadow: 3px 3px 8px rgba(0,0,0,0.5);
}
.chart_cont .col .poster .rank strong {color: #fff; box-shadow: 2px 2px 3px rgba(0,0,0,0.5);}
.chart_cont .col .poster .mx {position: absolute; top: 17px; right: 17px;}
.chart_cont .col .poster .mx span {width: 103px; height: 25px; display: block;}
.chart_cont .col .poster .mx .m {background-position: 0 -75px;}
.chart_cont .col .poster .mx .B {background-position: 0 -100px;}

.chart_cont .col .info  {
  background-color: #fff; padding: 13px 17px; border: 1px solid #000;
}
.chart_cont .col .info h3  {color:#333; font-size: 30px;font-weight: 700; margin-bottom: 20px;}
.chart_cont .col .info h3 span  {
  width: 29px; height: 29px; display: inline-block; margin-top: 9px;
}
.chart_cont .col .info h3 span.all  {background-position: -87px -125px;}
.chart_cont .col .info h3 span.a12  {background-position: 0px -125px;}
.chart_cont .col .info h3 span.a15  {background-position: -29px -125px;}
.chart_cont .col .info h3 span.a19  {background-position: -58px -125px;}
.chart_cont .col .info .btn a  {
  display: inline-block; background: #afafaf; font-size: 18px;
  width: 49%; text-align: center; padding: 10px 0;
}
/* //무비-메인-차트-> chart_cont1 - col작업 */









/* 이벤트 css 디자인 */
#event {margin-bottom: 100px;}
#event img {display: block;}
#event h2 {padding: 1% 1%; font-size: 35px; font-weight: 800;}
#event .left {width: 65%; margin-right: 2%; margin-left: 1%; float: left; }
#event .left .top {width: 100%; margin-right: 10px; float: left;}
#event .left .bottom {width: 100%; float: left; height: 50%;}
#event .left .bottom .e-one {width: 50%; float: left; }
#event .left .bottom .e-two {width: 50%; float: left; }
#event .right {width: 31.5%; float: left; margin-right: 0.5%; height: 5%; display: block;}


#footer {height: 200px; background-color: #c7a2ec;}













/* //레이아웃 */


/* 미디어쿼라 */
@media (max-width: 1290px) {
  .container {width: 100%;}
  .header .nav ul li {width: 85px;}
  .header .nav ul li a {padding: 18px 8px;}
  /* // 헤더-내비 */
  .chart_cont .col .info .btn a {font-size: 15px; padding: 8px 0;}
  .chart_cont .col .info {padding: 13px 10px;}
  /* //메인 차트 */
}
@media (max-width: 1024px) {
  .row {padding: 0 24px;}
  .header h1 {float: none; text-align: center;}
  .header h1 strong {left: 24px; position: absolute; top: 23px;}
  .header .nav {display: none;}
  #mob_nav {display: block;}
  /* //헤더-내비 */

  .menu .left ul {display: none;}
  .menu .right ul:first-child {display: none;}
  /* // 배너 */

  .chart_cont .col .info {padding: 13px 10px;}
  /* //메인 차트 */
}
@media (max-width: 960px) {
  #banner .container {pointer-events: none;}
  .slider {height: 400px;}
  .slider .swiper-slide h2 {margin-top: 80px; font-size: 40px;}
  .slider .swiper-slide h2 em {font-size: 35px;}
  .slider .swiper-slide p {font-size: 20px;}
  #banner .menu .right {
    margin-top: 245px; margin-left: 20px;
    float: left; pointer-events: all;
  }
  /* //배너 */


  #main .title ul {width: auto;}
  #main .title ul li {width: 25%; box-sizing: border-box;}
  /* //메인 차트 타이틀 */
}
@media (max-width: 768px) {
  .row {padding: 0 8;}
  .header h1 {text-align: left;}
  .header h1 a strong {display: none;}
  /* // 헤더 */

  body { background-color: #e2e2e2;}
  #movie .row {background-color: #fff; padding: 30px 30px; margin: 0 30px;}
  #movie .ir_su {
    position: static; width: auto; height: auto; line-height: normal;
    text-indent: 0; font-size: 24px; font-weight: bold; padding-bottom: 20px;
   }
  #movie .title {}
  #movie .title ul {position: relative; padding: 10px;}
  #movie .title ul::before {
    content: ''; position: absolute; z-index: 1; left: 0; bottom: 0;
    width: 100%; height: 2px; background-color: #bbbbbb;
  }
  #movie .title ul li {width: auto; border: 0;}
  #movie .title ul li a {
    font-size: 18px; color: #666; font-weight: 400; padding: 0; margin-right: 35px;
  }
  #movie .title ul li.active a {
    background-color: transparent; color: #666;
    position: relative; transition: all 0.3s ease;
  }
  #movie .title ul li.active a::before {
    content: ''; position: absolute; z-index: 2; left: 0; bottom: -10px;
    width: 100%; height: 2px; background-color: #a72c2c;
    transition: all 0.3s ease;
  }
  #movie .chart {margin-top: -20px;}
  .chart_cont .col .info h3 {padding: 5px;}
  .chart_cont .col .info h3 strong {
    display: block; font-size: 19px; color: #222; font-weight: 300;
    text-align: center;
  }
  .chart_cont .col .info h3 span {display: none;}
  .chart_cont .col .info {padding: 13px 10px;}
  .chart_cont .col .info .btn a {font-size: 17px; width: 49%; padding: 8px 0;}
  /* //메인 차트 타이틀 */

  #event h2 {font-size: 24px; padding-bottom: 2%;}
  #event .container {background-color: #fff; margin: 0 30px; width: auto; padding: 30px 30px;}
  #event .left {width: 98%; margin-right: 1%;}
  #event .right {display: none;}
  /* //이벤트 */

}

@media (max-width: 600px) {
  #movie .title ul li a {font-size: 15px; margin-right: 25px;}
  #movie .row {margin: 0; padding-right: 0 ;}
  .chart_cont .col .info {padding: 13px 20px;}
  .chart_cont .col .info .btn a {padding: 8px 0; font-size: 20px;}
  /* // 메인 차트 */

  #event .container {margin: 0; width: auto; padding: 20px 15px;}
  /* //이벤트 */
}
@media (max-width: 480px) {
  .slider {height: 300px;}
  .slider .swiper-slide h2 {margin-top: 50px; font-size: 30px;}
  .slider .swiper-slide h2 em {font-size: 25px;}
  .slider .swiper-slide p {font-size: 15px;}
  #banner .menu .right {
    margin-top: 180px; margin-left: 20px;
    float: left;
  }
  #banner .menu .right ul li a {
    padding: 5px 10px; background-color: rgba(227, 221, 221, 0.7);
    font-size: 15px; color: #663888; border-color: #663888;
    text-shadow: 1px 1px 0 #000000;
  }
  /* //배너작업 */

  #movie .title ul li a {margin-right: 15px; font-size: 3.5vw;}
  .chart_cont .col .info .btn a {width: 52%; margin-left: 24%;}
  .chart_cont .col .info .btn a:last-child {display: none;}
  /* //메인차트 */
}
@media (max-width: 320px) {

}































/* //미디어쿼리 */
