@charset "UTF-8";

/* //전체 wrap */
#contents {width: 100%;}

#cont_title {
  width: 100%; height: 300px;
}
#cont_title h2 {
  padding: 100px 0 0; text-align: center; font-size: 50px;
}
#cont_title span {
  text-align: center; font-size: 22px; padding: 15px 0 40px;
  width: 600px; margin: 0 auto; display: block;
  border-bottom: 1px solid var(--bread-color);
}
/* //컨텐츠 - 타이틀 */

#cont_box {
  width: 100%;
  height: 930px; width: 930px; margin: 0 auto;
  display: flex; justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
#cont_box .box {
  width: 30%; height: 30%; background-color: var(--bread-color);
  float: left; cursor: pointer; color: var(--bg-color); font-weight: bold; text-align: center;
}
/* //컨텐츠 - 박스 */

#cont_more {
  display: block; width: 150px; height: 50px;
  background-color: var(--bg-color); margin: 50px auto 80px;
  cursor: pointer; text-align: center; line-height: 50px;
  border: 1px solid var(--bread-color); border-radius: 3px; font-size: 20px;
  transition: background-color .2s, color .2s;
}
#cont_more:hover {
  background-color: var(--bread-color); color: var(--bg-color);
}
/* //컨텐츠 - 더보기 */
/* // 컨텐츠 부분 */


