@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
:root {font-size: 16px;}
body {
    --color-h1: #dc6e25;
    --color-title: #fff;
    --color-sub: #999;
    --color-link: #000;
    --color-bg: #111;
    --image-widthMax: 500px;
    --aspect-ratio: 32/17;
    color: var(--color-title);
    background-color: var(--color-bg);
    font-family: 'Lato', sans-serif;
}
#wrap {position: relative;}
#wrap h1 {font-size: 8vw; padding: 6vw; color: var(--color-h1); font-weight: 700;}
#wrap h1 em {padding-left: 17vw; font-weight: 100;}
#wrap .info {
  position: fixed; top: 25px; right: 25px; background-color: rgba(255,255,255,0.5);
  color: #333; padding: 10px; border-radius: 10px; z-index: 30;
}
#wrap .info strong {transi}
#wrap .info strong.active {color: #c30101;}
#cont {width: 100%; padding: 35vh 0 40vh; overflow: hidden;}
#cont .cont_it {
  margin: 15vh 0 45vh; width: calc(var(--image-widthMax)*var(--aspect-ratio));
  max-width: 90vw; position: relative; opacity: 0; transition: all 0.6s ease-In-Out;
}
#cont .cont_it:nth-child(odd).close {animation: fadeOutLeft 1s;}
#cont .cont_it:nth-child(even).close {animation: fadeOutRight 1s;}
#cont .cont_it.show {opacity: 1;}
#cont .cont_it:nth-child(odd).show {animation: fadeInLeft 1s;}
#cont .cont_it:nth-child(even).show {animation: fadeInRight 1s;}
#cont .cont_it:nth-child(even) {margin-left: auto;}
#cont .cont_it .cont_it_num {
  position: absolute; top: -20vw; right: -10vw; font-size: 25vw;
  opacity: 0.05; line-height: 1;
}
#cont .cont_it:nth-child(even) .cont_it_num {
  right: auto; left: -10vw;
}
#cont .cont_it .cont_it_tit {text-align: right;}
#cont .cont_it:nth-child(even) .cont_it_tit {text-align: left;}
#cont .cont_it .cont_it_imgwrap {
  --width: 100%;
  width: var(--width);
   padding-bottom: calc(var(--width) / (var(--aspect-ratio)));
  z-index: 10; overflow: hidden; position: relative;
}
#cont .cont_it .cont_it_imgwrap .cont_it_img {
  width: var(--width); --overflow: 40px; background-image: url(../img1.jpg);
  height: calc(100% + (2 * var(--overflow))); position: absolute;
  top: calc(-1 * var(--overflow)); background-size: cover;
  background-position: 50% 0; filter: grayscale(100%);
}
#cont .cont_it .cont_it_desc  {
  font-size: 4vw; font-weight: 600; color: var(--color-title);
  text-align: right; position: relative; z-index: 20;
  top: -8vw; right: -8vw; text-shadow: 0.5vw 0.5vw 0 #333;
  padding-left: 5vw;
}
#cont .cont_it:nth-child(even) .cont_it_desc  {
  text-align: left; right: auto; left: -8vw; padding-left: 0; padding-right: 5vw;
}


/* // */
