@charset "utf-8";

@font-face {
  src: url(../fonts/Sunflower-Medium.ttf);
  font-family: "Sunflower";
}
* {font-family: "Sunflower";}

#header {height: 130px;}
#content {}
#footer {height: 300px; background-color: rgb(193, 221, 114);}
.container {
  width: 1200px; margin: 0 auto; height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
}


/* 헤더의 탑 제작부분 */
#top {height: 50px;}
#top .left {width: 50%; height: 100%;float: left;}
#top a {
  font-size: 15px; padding: 2px 10px;
  display: block; float: left; margin-top: 18px;
  border-right: 1px solid #000;
}
#top a.last {border-right: 0;}
#top .left form {
  margin-top: 20px; margin-left: 10px;display: inline-block;}
#top .left .insert {float: left;}
#top .left .button {float: left; position: relative;
height: 23.5px;}
#top .left .button input {width: 25px; height: 23.5px;}
#top .left .button i {
  position: absolute; top: 0; left: 0; right: 0; bottom: 0;
  margin: auto; height: 15px; width: 15px;
  pointer-events: none;
}

#top .right {width: 50%; height: 100%;float: left;}
#top .right .rbox {float: right; margin-right: 40px;}
#top .right .rbox a.active {color: rgb(200, 40, 40); font-weight: bold;}
/* //헤더의 탑 제작부분 */


/* 헤더의 바텀 제작부분 */
#bottom {height: 80px;position: relative;}
#bottom ul li {display: block; float: left; margin-top: 40px;padding: 5px 20px;}
#bottom ul li:first-child {padding-left: 0;}
#bottom ul li a {font-size: 20px; font-weight: bold;}
#bottom h3 {
  position: absolute; top: 0; right: 30px;
  font-size: 50px; font-weight: bold; padding: 5px 10px;
}
/* //헤더의 바텀 제작부분 */









/* 컨텐츠 비주얼 제작부분 */
#visual {
  height: 600px; width: 1900px; margin: 0 auto;
  border: 3px solid #333;
  background: url(../img/main_visual.jpg) top;
  background-repeat: no-repeat;
  background-size: cover; filter: grayscale(80%);
}
/* //컨텐츠 비주얼 제작부분 */

/* 컨텐츠 메인 게시판 제작부분 */
#main h3 {
  font-size: 25px; font-weight: bold;
  margin-top: 30px;
}
/* 컨텐츠 메인 노티스1 게시판 제작 */
#main .Notice1 {height: 180px;}
/* 컨텐트 메인 노티스1 좌측 게시판 제작 */
#main .Notice1 .left {width: 500px;height: 100%; float: left;}
#main .Notice1 .left ul {margin-right: 30px;border-top: 1px solid #888;}
#main .Notice1 .left ul li {
  position: relative; margin-top: 8px; margin-right: 10px;
  font-size: 15px;
}
#main .Notice1 .left ul li.active {font-weight: bold;}
#main .Notice1 .left ul li::before {
  width: 3px; height: 3px; background-color: #034295; content: '';
  position: absolute; top: 8px; left: 5px; border-radius: 50%;
}
#main .Notice1 .left ul li a {
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
  width: 70%; display: block; margin-left: 12px;
}
#main .Notice1 .left ul li em {
  position: absolute; top: 0; right: 0;
}
/* //컨텐트 메인 노티스1 좌측 게시판 제작 */

#main .Notice1 .col {width: 350px; height: 100%; float: left;}
#main .Notice1 .col .top {height: 50%; background-color: rgba(0,0,0,0.3);}
#main .Notice1 .col .bottom {height: 50%; background-color: rgba(0,0,0,0.3);}
#main .Notice1 .center {background-color: rgb(168, 215, 115);}
#main .Notice1 .right {background-color: rgb(128, 231, 222);}
/* //컨텐츠 메인 노티스1 게시판 제작 */

/* 컨텐츠 메인 노티스2 게시판 제작 */
#main .Notice2 {height: 400px;}
#main .Notice2 .left {
  height: 100%; width: 300px; float: left;
   background-color: rgb(145, 219, 123);
}
#main .Notice2 .center {
  height: 100%; width: 500px; float: left;
  background-color: rgb(65, 161, 152);
}
#main .Notice2 .right {
  height: 100%; width: 400px; float: left;
  background-color: rgb(42, 119, 20);
}
/* //컨텐츠 메인 노티스2 게시판 제작 */

/* 컨텐츠 메인 노티스3 게시판 제작 */
#main .Notice3 {height: 300px;background-color: rgb(168, 221, 125);}
/* //컨텐츠 메인 게시판 제작부분 */

/* 끝 */
