@charset "utf-8";
/* 실습용 레이아웃 */
.strawb {color: #fff; font-size: 40px; text-align: center;}
/* .container {height: inherit; background: rgba(255,255,255,0.3);
width: 1000px; margin: 0 auto;} */

#a {height: 200px; background: url(../img/background1.jpg);}
#a .title {
    height: 200px; width: 400px;
    margin: 0 auto;
    padding-top: 60px;
}
#a h3 {
    display: block;background: rgba(63, 58, 129, 0.6); color: #ffffff;
}
#b {height: 100px;background: rgb(34, 36, 54);}
#c {height: 637px;background: rgb(60, 63, 92);}