@charset "UTF-8";

* {margin: 0; padding: 0; box-sizing: border-box;}
:root {font-size: 16px;}
body {
  --color-h1: #dc6e25;
  --color-title: #fff;
  --color-sub: #999;
  --color-link: #000;
  --color-bg: #111;
  --image-widthMax: 500px;
  --aspect-ratio: 32/17;
  color: var(--color-title);
  background-color: var(--color-bg);
}
#wrap h1 {font-size: 8vw; color: var(--color-h1); padding: 6vw; text-transform: uppercase;}
#wrap h1 em {padding-left: 15vw; font-weight: 100;}

#cont {padding-top: 20vh; width: 100%; overflow: hidden;}
#cont .cont_it {
  margin: 10vh 0 45vh; position: relative;
  max-width: 90vw; width: 980px; opacity: 0;
  transition: all 0.7s ease; transform: translate(0,20%);
}
#cont .cont_it.show {
  opacity: 1; transform: none;
}
#cont .cont_it:nth-child(even) {margin-left: auto;}
#cont .cont_it .cont_it_num {
  position: absolute; font-size: 25vw; top: -13vw; right: -8vw;
  opacity: 0.05; line-height: 1; font-weight: 100;
}
#cont .cont_it:nth-child(even) .cont_it_num {right: auto; left: -12vw;}
#cont .cont_it .cont_it_tit {text-align: right;}
#cont .cont_it:nth-child(even) .cont_it_tit {text-align: left;}
#cont .cont_it .cont_it_imgwrap {
  width: 100%; overflow: hidden; position: relative;
   padding-bottom: calc(100% / (var(--aspect-ratio)));
}
#cont .cont_it .cont_it_imgwrap .cont_it_img {
  background-image: url(../img1.jpg); width: 100%;
  --overflow:40px; height: calc(100% + (2*var(--overflow)));
  position: absolute; top: calc(-1 * var(--overflow));
  background-size: cover; background-position: 50% 0;
  filter: grayscale(100%);
}
#cont .cont_it .cont_it_desc {
  font-size: 4vw; text-align: right; padding-left: 10vw; text-shadow: 0.3vw 0.3vw 0 #222;
  position: relative; line-height: 1.2; margin-top: -7vw; margin-right: -8vw; font-weight: 600;
}
#cont .cont_it:nth-child(even) .cont_it_desc {
  text-align: left; padding-left: 0; padding-right: 10vw; margin-right: 0; margin-left: -8vw;
}
.info {
  position: fixed; top: 20px; right: 20px;
  background: rgba(255,255,255,0.5);
  color: #000; padding: 10px;
  font-size: 14px; font-weight: 300;
  z-index: 50; font-style: normal;
}





/* // */
