@charset "UTF-8";

#nav {position: fixed; width: 100%; background-color: rgba(255,255,255,0.3); top: -56px;
transition: all 0.3s ease;}
#nav.on {top:0;}
#nav .nav {position: relative; user-select: none;}
#nav h2 {display: inline-block; font-size: 35px; font-weight: bold; padding: 2px 20px; text-shadow: 2px 2px 0 #d9d9d9;}
#nav ul {display: inline-block; float: right; margin-right: 25px; margin-top: 5.5px;}
#nav ul li {display: inline-block; cursor: pointer; padding: 10px 20px;}
#nav ul li.active , #nav ul li:hover {background-color: rgba(0,0,0,0.5); border-radius: 5px; transition: all 0.3s ease;}
#nav ul li.active em, #nav ul li:hover em {color: #fff; text-shadow: 1px 1px 0 #000000;}
#nav ul li em {font-size: 17px; font-weight: bold; color: #333; text-shadow: 1px 1px 0 #d9d9d9; transition: all 0.3s ease;}

#contents {user-select: none;}
#contents section {height: 100vh; line-height: 100vh; text-align: center;}
#contents #sec1 {background:radial-gradient(ellipse farthest-corner at right, #4c5d36 0%, #58881b 100%);}
#contents #sec2 {background:radial-gradient(ellipse farthest-corner at left, #630000 0%, #632323 100%);}
#contents #sec3 {background:radial-gradient(ellipse farthest-corner at center, #3a2e83 0%, #261781 100%);}
#contents #sec4 {background:radial-gradient(ellipse farthest-corner at left bottom, #843195 0%, #885493 100%);}
#contents #sec5 {background:radial-gradient(ellipse farthest-corner at center bottom, #0d5ab5 0%, #3770b4 100%);}
#contents section h2 {font-size: 8vw; font-weight: 600; color: #fff; text-shadow: 0.5vw 0.5vw 0 #222;}











/* // */
