@charset "UTF-8";
body {background-color: #111; }
#wrap {position: relative;}
#wrap h1 {font-size: 135px; padding: 5%; color: #dc6e25; display: block;}
#wrap h1 em {font-weight: 100; padding-left: 330px; display: block;}

#wrap .cont_it {position: relative; display: block;}
#wrap .cont_it .cont_it_info {
  margin: 0 0 25%; width: 1000px; display: block;
  user-select: none; position: relative; box-sizing: border-box;}
#wrap .cont_it .cont_it_num {
  display: block; color: #777; opacity: 0.1; position: absolute;
  font-size: 300px; font-weight: 100; user-select: none;
  top: 0; left: 50%; transform: translate(-50%,0);
}
#wrap .cont_it .cont_it_info .cont_it_tit {padding-top: 250px; color: #888; text-align: right; font-size: 25px;}
#wrap .cont_it .cont_it_info .cont_it_imgwrap {height: 500px; width: 1000px;}
#wrap .cont_it .cont_it_info .cont_it_imgwrap .cont_it_img {height: 100%; width: 100%; background: url(img1.jpg); filter: grayscale(100%); z-index: 10;}
#wrap .cont_it .cont_it_info .cont_it_desc {
  color: #fff; position: absolute; bottom: -100px; right: -100px; z-index: 20;
  font-size: 65px; text-shadow: 5px 5px 0 #333; display: inline-block;
  text-align: right; padding-left: 200px;}

#wrap .cont_it:nth-child(odd) .cont_it_info {float: right;}
#wrap .cont_it:nth-child(odd) .cont_it_info .cont_it_desc {padding-left: 0; text-align: left; padding-right: 200px;}






/* // */
