@charset "utf-8";

/* 스킵 내비게이션 */
#skip {}
#skip a  {position: absolute; left: 0px; top: -35px; border: 1px solid #fff; color: #fff; background: #333; line-height: 30px; width: 160px;text-align: center;}
#skip a:active,
#skip a:focus {top: 0;}

/* 전체 레이아웃 */
#wrap {}
#header {height: 325px; background: url(../img/header_bg.jpg) center top repeat-x;}
#contents {}
#footer {background: #333; height: 200px;}

/* 컨텐츠 레이아웃 */
#cont_nav {background: #f6fdff;}
#cont_tit {background: #EAF7FD;}
#cont_ban {background: #dceff7;}
#cont_cont {background: #f6fdff;}

/* 컨테이너 */
.container {width: 990px; margin: 0 auto; height: inherit; background: rgba(255,255,255,0.3);}


/* 헤더탭 */
.header_tab {}
.header_tab .header-menu {text-align: right;}
.header_tab .header-menu a {color: #fff; padding: 5px 0px 10px 13px; display: inline-block; font-weight: normal; text-transform: uppercase;}
.header_tab .header-menu a:hover {color: #666;}
.header_tab .header-tit {text-align: center;}
.header_tab .header-tit h1 {background: #4aa8d4; padding: 5px 20px 6px 20px; font-size: 28px; color: #fff;display: inline-block; margin-top: 40px;}
.header_tab .header-tit a {
    display: inline-block; background-color: #2698cb; font-size: 18px; color: #fff;
    padding: 5px 20px 6px 20px; margin-top: -5px;
}
.header_tab .header-icon {text-align: center; margin-top: 30px;}
.header_tab .header-icon a {width: 60px; height: 60px;background: url(../img/icon.png); display: inline-block; margin: 3px;}
.header_tab .header-icon a.icon1 {background-position: 0 0;}
.header_tab .header-icon a.icon2 {background-position: 0 -60px;}
.header_tab .header-icon a.icon3 {background-position: 0 -120px;}
.header_tab .header-icon a.icon4 {background-position: 0 -180px;}
.header_tab .header-icon a.icon1:hover {background-position: -60px 0;}
.header_tab .header-icon a.icon2:hover {background-position: -60px -60px;}
.header_tab .header-icon a.icon3:hover {background-position: -60px -120px;}
.header_tab .header-icon a.icon4:hover {background-position: -60px -180px;}


/* 전체 메뉴 */
.nav {overflow: hidden;padding: 30px 0;}
.nav > div {float: left; width: 40%;}
.nav > div:last-child {width: 20%;} /* ie9부터 사용가능 */
.nav > div h3 {font-size: 18px; color: #25a2d0; margin-bottom: 4px;}
.nav > div ol {overflow: hidden;}
.nav > div ol li {float: left; width: 50%;}
.nav > div:last-child ol li {width: 100%;}
.nav > div ol li a:hover {text-decoration: underline;}


/* 타이틀 */
.tit {position: relative;}
.tit h2 {font-size: 40px; text-align: center; padding: 5px 0;letter-spacing: 2px ;color: #2c94c4; font-family: 'Nanum Brush Script', cursive;}
.tit .btn {position: absolute; top: 5px; right: 0; width: 60px; height: 60px;
background: url(../img/icon.png) no-repeat 0 -600px;}



/* 배너 */
.ban {position: relative; padding: 24px 0 20px;} 
/* 이미지는 기본 아래여백이 있어서 위아래 차이가 필요 */
.ban .prev {position: absolute; left: -80px; top: 60px; width: 43px; height: 43px;
background: url(../img/icon.png) no-repeat -150px 0;}
.ban .next {position: absolute; right:-80px; top: 60px; width: 43px; height: 43px;
background: url(../img/icon.png) no-repeat -150px -43px;}
.ban .prev:hover {background-position: -193px 0;}
.ban .next:hover {background-position: -193px -43px;}

.ban ul {overflow: hidden}
.ban ul li {float: left; width: 330px;}
.ban ul li.ban_img1 {text-align: left;}
.ban ul li.ban_img2 {text-align: center;}
.ban ul li.ban_img3 {text-align: right;}
.ban ul li img {border: 4px solid #dcdcdc;}
.ban ul li img:hover {border-color: #98bcdc;}



/* 컨텐츠 */ 
.cont {overflow: hidden; padding-top: 30px;}
.cont .column {position: relative; float: left; width: 289px; height: 363px;
margin: 0 28px 28px 0; padding-right: 30px;}
.cont .col1 {border-right: 2px solid #c8c8c8;}
.cont .col2 {border-right: 2px solid #c8c8c8;}
.cont .col3 {padding-right: 0; margin-right: 0;}
.cont .col4 {border-right: 2px solid #c8c8c8;}
.cont .col5 {border-right: 2px solid #c8c8c8;}
.cont .col6 {padding-right: 0; margin-right: 0;}

.cont .column .col_t {display: block; width: 289px; height: 70px;border-bottom: 2px solid #d8d8d8;
margin-bottom: 15px;}
.cont .column .ico_img {display: block; width: 60px;height: 60px;
background: url(../img/icon.png) no-repeat; left: 0;top: 0; position: absolute;}
.cont .column .ico_tit {padding-left: 70px; font-size: 16px; color: #2c94c4;}
.cont .column .ico_desc {padding-left: 70px; }

.cont .col1 .ico_img {background-position: 0px -240px;}
.cont .col2 .ico_img {background-position: 0px -300px;}
.cont .col3 .ico_img {background-position: 0px -360px;}
.cont .col4 .ico_img {background-position: 0px -420px;}
.cont .col5 .ico_img {background-position: 0px -480px;}
.cont .col6 .ico_img {background-position: 0px -540px;}
.cont .col1 .ico_img:hover {background-position: -60px -240px;}
.cont .col2 .ico_img:hover {background-position: -60px -300px;}
.cont .col3 .ico_img:hover {background-position: -60px -360px;}
.cont .col4 .ico_img:hover {background-position: -60px -420px;}
.cont .col5 .ico_img:hover {background-position: -60px -480px;}
.cont .col6 .ico_img:hover {background-position: -60px -540px;}



/* 게시판1 */ 
.notice1 {position: relative;}
.notice1 h4 {font-size: 14px; color: #0093bd; font-weight: bold; padding-bottom: 3px;}
.notice1 ul li {text-overflow: ellipsis; overflow: hidden; white-space: nowrap;
background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px;}
.notice1 a.more {position: absolute; right: 0; top: 0;
background: url(../img/icon.png) -150px -90px; width: 17px;height: 17px; display: block;}

/* 게시판2 */ 
.notice2 {position: relative; margin-top: 15px;}
.notice2 h4 {font-size: 14px; color: #0093bd; font-weight: bold; padding-bottom: 3px;}
.notice2 ul li {background: url(../img/dot.gif) no-repeat 0 8px; padding-left: 8px; overflow: hidden;}
.notice2 ul li a {float: left; width: 65%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.notice2 ul li span {float: right; width: 30%;}
.notice2 a.more {position: absolute; right: 0; top: 0;
background: url(../img/icon.png) -150px -90px; width: 17px;height: 17px; display: block;}


/* 게시판3 */ 
.notice3 {}
.notice3 h4 {font-size: 14px; color: #0093bd; font-weight: bold; padding-bottom: 5px;}
.notice3 li {position: relative; height: 60px; padding: 8px 0 0 60px;}
.notice3 li a img {width: 50px; height: 50px; position: absolute; left: 0; top: 0;
border: 1px solid #86b5ce;}
.notice3 li a:hover img {border: 2px solid #86b5ce;}
.notice3 li a strong {display: block;}
.notice3 li a span {width: 100%; display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;}
.notice3 a.more {position: absolute; right: 0; top: 0;
background: url(../img/icon.png) -150px -90px; width: 17px;height: 17px; display: block;}


/* 게시판4 마우스 오버효과 */ 
.notice_hover h4 {font-size: 14px; color: #0093bd; font-weight: bold; padding-bottom: 8px;}
.notice_hover ul {overflow: hidden;}
.notice_hover li {float: left;width: 90px; padding-right: 5px; text-align: center;}
.notice_hover a span {position: relative; width: 90px; height: 90px; display: block;}
.notice_hover a span img {width: 100%; border: 1px solid #86b5ce;}
.notice_hover a span em {visibility: hidden; position: absolute; top: 0;left: 0; width: 100%; height: 100%; line-height: 93px;
background: rgba(0,0,0,0.7); color: #fff;}
.notice_hover a span:hover em {visibility: visible;}
.notice_hover a strong {font-size: 12px; padding-top: 8px; display: inline-block;}


/* 게시판4 마우스 오버효과2 */ 
.notice_hover2 {}
.notice_hover2 ul {overflow: hidden; margin-top: 15px;}
.notice_hover2 ul li {float: left; width: 90px; text-align: center; padding-right: 5px;}
.notice_hover2 ul li a {}
.notice_hover2 ul li a span {position: relative; display: block; width: 90px; height: 90px;}
.notice_hover2 ul li a span img {width: 100%; border: 1px solid #86b5ce;}
.notice_hover2 ul li a span em {visibility: hidden;position: absolute; bottom: 0; left: 0; width: 100%;
    background: rgba(0,0,0,0.7); color: #fff;}
    .notice_hover2 ul li a span:hover em {visibility: visible;}
.notice_hover2 ul li a strong {font-size: 12px; padding-top: 8px; display: inline-block;}













