@charset "utf-8";
* {}
#wrap {font-family: "DoHyeon";}


/* 상단메뉴 레이아웃 정의 */
#TOPnav {position: fixed; width: 100%; left: 0; top: 0; 
    padding: 5px 5px 5px 20px; background-color: rgba(0, 0, 0, 0.3);}
#TOPnav h1 {font-size: 40px;float: left;color: #fff; display: none;}
#TOPnav ul { padding-right: 20px; text-align: center; position: relative;}
#TOPnav ul li {display: inline; text-decoration: none;}
#TOPnav ul .active a {
    content: "";
    height: 2px;
    background: #ffb000;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
#TOPnav ul .active a:after {
    width: 100%; 
    left: 0; 
}
#TOPnav ul li a {display: inline-block; padding: 20px 25px; font-family: "Ubuntu_B";
font-size: 15px; text-transform: capitalize; color: #fff;}



/* 메인 article 컨텐츠 정의 */
article {text-align: center;}
article > section {height: 100vh; line-height: 100vh;}
article > section > h2 {font-size: 120px;font-weight: 100; text-transform: uppercase;color: #fff;
    text-shadow: -3px 0 #000, 0 3px #000, 3px 0 #000, 0 -3px #000;}

#sect_1 {background:radial-gradient(ellipse farthest-corner at center top, #8196EB 0%, #343C5E 100%); }
#sect_2 {background:radial-gradient(ellipse farthest-corner at center top, #7D5A9E, #BB86EB); }
#sect_3 {background:radial-gradient(ellipse farthest-corner at center bottom, #E2B9C6 0%, #9D5679 100%); }
#sect_4 {background:radial-gradient(ellipse farthest-corner at center top, #44564A 0%, #508164 100%); }
#sect_5 {background:radial-gradient(ellipse farthest-corner at center top, #81AAB3 0%, #D3E1E6 100%); }