@keyframes top-bg-ani {
  from {transform: scale(1.2);}
  to {transform: scale(1);}
}

@keyframes top-text {
  from {opacity: 0; transform: translateY(10px);}
  to {opacity: 1; transform: translateY(0);}
}
@keyframes top-progress01 {
  from {width: 0;}
  to {width: 33%;}
}
@keyframes top-progress02 {
  from {width: 33%;}
  to {width: 66%;}
}
@keyframes top-progress03 {
  from {width: 66%;}
  to {width: 100%;}
}
@keyframes top-banner-on {
  from {bottom: -100%;}
  to {bottom: 0;}
}

@keyframes cont01-text {
  from {opacity: 0; transform: translate(-50%, 20px);}
  to {opacity: 1; transform: translate(-50%, 0);}
}

@keyframes display {
  from {opacity: 0; transform: translateY(10%);}
  to {opacity: 1; transform: translateY(0);}
}
