@charset "UTF-8";

@media (max-width: 1280px){
  #header .menu {left: 40%;}
  #header .menu li {margin-left: 45px;}
  #header .util .btn2 {padding-left: 15px; margin-left: 9px;}
  #header .util .btn3 {margin-left: 9px;}

  #contents .top-slider .banner {width: 100%;}
}

@media (max-width: 1024px){
  #header {padding: 0; text-align: center; height: 70px;}
  #header .header {
    display: none; line-height: normal; width: 80%; height: 100vh;
    background-color: #fff; position: absolute; top: 0; right: 0;
  }
  #header.active .header {display: block;}
  #header .title {font-size: 30px; position: absolute; top: 20px; left: 50%; transform: translateX(-50%);}
  #header.scroll .title {top: 10px}
  #header.hover, #header.scroll.hover {padding: 0; background-color: transparent;}
  #header.hover .header {border-bottom: 0; padding-bottom: 0;}
  #header.scroll {padding: 0;}
  #header .menu {
    left: 0; transform: none; width: 84%;
    height: 70%; right: 0; margin: 15% 8%;
    box-sizing: border-box; overflow: auto;
  }
  #header.active .menu {display: block;}
  #header .menu li {
    margin-left: 0; display: block; width: 100%;
    text-align: left; padding: 15px 0;
  }
  #header .menu li:nth-child(1) {border-top: 2px solid #333; padding-top: 40px;}
  #header .menu li a {color: #222; font-size: 30px; cursor: pointer;}
  #header .menu li .down {
    display: inline-block; font-size: 30px; float: right; color: #000; cursor: pointer;
  }
  #header .menu li ul {
    transform: none; left: 30px; top: 60px; display: none; opacity: 0; padding: 10px 0;
  }
  #header .menu li:nth-child(1) ul {top: 80px;}
  #header .menu li ul li {border: none; padding: 0; text-align: left;}
  #header .menu li ul li:nth-child(1) {border: none; padding-top: 0;}
  #header .menu li.open ul {opacity: 1; display: block;}
  #header .menu li ul li {color: #222; margin-bottom: 0px; padding: 5px 0;}
  #header .util {display: none;}
  #header.active .util {
    display: block; left: auto; width: 100%; pointer-events: none;
    height: 100%; background-color: transparent; right: 0;
  }
  #header .util .btn1 {
    position: absolute; left: 30%; bottom: 60px; color: #222; margin: 0;
    background-color: transparent; cursor: pointer; pointer-events: auto;
    border: 1px solid #888; padding: 5px 20px; border-radius: 30px;
  }
  #header .util .btn2 {
    color: #666; font-size: 30px; position: absolute; top: 30px; left: 60px;
    padding-left: 0; margin-left: 0;
  }
  #header .util .btn3 {
    position: absolute; left: 60%; bottom: 60px; color: #222; margin: 0;
    background-color: transparent; cursor: pointer; pointer-events: auto;
    border: 1px solid #888; padding: 5px 20px;
  }
  #header.hover .util .btn3, #header.scroll .util .btn3 {color: #222; background-color: transparent;}
  #header .util .btn2::after {display: none;}
  #header .menu-bar {display: inline-block;}
  #header.active .menu-bar {display: none;}
  #header.active .menu-cancel {display: inline-block;}








  #contents .top-slider {}
  #contents .top-slider .slider .slides .text {}
  #contents .top-slider .banner {height: 330px;}
  #contents .top-slider .banner {padding: 30px; box-sizing: border-box;}
  #contents .top-slider .banner .ban-item {width: 100%; height: 33.33%;}
  #contents .top-slider .banner .news h3 {font-size: 3.5vw;}
  #contents .top-slider .banner .news p {font-size: 2.5vw;}
  #contents .top-slider .banner .ir h3 {font-size: 3.5vw;}
  #contents .top-slider .banner .ir p {font-size: 2.5vw;}
  #contents .top-slider .banner .ir p span {padding: .5vw 2.5vw;}
  #contents .top-slider .banner .stock h3 {font-size: 3.5vw;}
  #contents .top-slider .banner .stock span {font-size: 3.5vw;}
  #contents .top-slider .banner .stock p {font-size: 2.5vw;}
  #contents .top-slider .progressbar {top: 65%; width: 90%;}
  #contents .top-slider .slider .slides .text {top: 40%; left: 10%;}
  #contents .top-slider .slider .slides .text h2 {font-size: 6vw;}
  #contents .top-slider .slider .slides .text p {font-size: 3vw;}
  #contents .top-slider .prev {display: none;}
  #contents .top-slider .next {display: none;}




  #contents .cont01 {height: auto;}
  #contents .cont01 .left {width: 100%; height: 250px; float: none;}
  #contents .cont01 .left .text .item {left: 13%; text-align: left; font-size: 3.5vw; transform: translate(0, 20px);}
  #contents .cont01 .left .text .item span {font-size: 5vw;}
  #contents .cont01 .left .prev {display: none;}
  #contents .cont01 .left .next {display: none;}
  #contents .cont01 .right {width: 100%; height: 700px; float: none;}




  #contents .cont02 {margin-top: 100px; height: auto;}
  #contents .cont02 .left {width: 100%; height: 150px;}
  #contents .cont02 .left .text {left: 5%; top: 0; font-size: 40px;}
  #contents .cont02 .center {width: 100%; height: 150px; margin-top: 50px;}
  #contents .cont02 .center .text {left: 5%; top: 0;}
  #contents .cont02 .right {width: 100%; height: 150px; margin-top: 50px;}
  #contents .cont02 .right .text {left: 10%; top: 0; font-size: 50px;}
  #contents .cont02 .video {height: 50vw;}
 }

@media (max-width: 800px){
  #contents .cont01 .left {height: 200px;}
  #contents .cont01 .right {height: 600px;}
}

@media (max-width: 480px){
  #header .menu-bar {right: 20px;}

  #contents .cont01 .left {height: 150px;}
  #contents .cont01 .right {height: 400px;}

  #contents .cont02 {margin-top: 100px; height: auto;}
  #contents .cont02 .left {height: 100px;}
  #contents .cont02 .left .text {font-size: 30px;}
  #contents .cont02 .center {height: 130px; margin-top: 20px;}
  #contents .cont02 .right {height: 130px; margin-top: 20px;}
  #contents .cont02 .right .text {font-size: 40px;}
}












/*  */
