@charset "UTF-8";

#nav {background-color: rgba(255,255,255,0.3); width: 100%;
position: absolute; left: 0; bottom: 0;
}
#nav.active {position: fixed; top: 0; bottom: auto;}
#nav .nav {position: relative;}
#nav h2 {font-size: 30px; font-weight: bold; display: inline-block; padding: 10px 20px; user-select: none;}
#nav ul {float: right; display: inline;user-select: none; margin-right: 25px; line-height: 65px;}
#nav ul li {
  display: inline-block; padding: 0 10px; cursor: pointer;
  transition: all 0.2s ease; background-color: transparent;
}
#nav ul li.active a, #nav ul li:hover a {background-color: rgba(0,0,0,0.3); color: #fff;
text-shadow: 0 2px 2px #111; border-radius: 5px; transition: all 0.2s ease;
transition-timing-function: ease;}
#nav ul li a {
  font-size: 20px; font-weight: bold; color: #444; padding: 5px 8px;
  text-shadow: 0 2px 2px #fff;
}

#contents section {height: 100vh; line-height: 100vh;}
#contents section h2 {font-size: 7vw; text-align: center; color: #fff; text-shadow: 0px 10px 5px #333;}
#contents #sec1 {background:radial-gradient(ellipse farthest-corner at center top, #9d0909 0%, #df5656 100%);}
#contents #sec2 {background:radial-gradient(ellipse farthest-corner at left top, #a5c36d 0%, #587c15 100%);}
#contents #sec3 {background:radial-gradient(ellipse farthest-corner at bottom right, #2a89e0 0%, #0c4377 100%);}
#contents #sec4 {background:radial-gradient(ellipse farthest-corner at right bottom, #81568c 0%, #d797e7 100%);}
#contents #sec5 {background:radial-gradient(ellipse farthest-corner at left, #cb6c1e 0%, #743909 100%);}




















/* // */
