@charset "UTF-8";

#nav {position: relative;}
#nav .nav {position: fixed; top: 0; left: 0; width: 100%; background-color: rgba(255,255,255,0.5);}
#nav .nav h2 {display: inline-block; font-size: 35px; padding: 8px 20px; font-weight: 600; text-shadow: 2px 2px 0 #d4d4d4;}
#nav .nav .info {display: inline-block; float: right;}
#nav .nav .info li {display: inline-block; font-size: 25px; margin-right: 20px; }
#nav .nav .info li em {}
#nav .menu {position: fixed; top: 50%; right: 25px; transform: translate(0,-50%);}
#nav .menu li {
  width: 20px; height: 20px; background-color: transparent; border: 2px solid #424242;
  border-radius: 50%; margin-top: 25px; position: relative; transition: all 0.3s ease;
  cursor: pointer;
}
#nav .menu li.active {border: 2px solid #ffffff;}
#nav .menu li em {
  width: 20px; height: 20px; background-color: rgba(173, 0, 255, 0.3);
  position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);
  border-radius: 50%; transition: all 0.3s ease;
}
#nav .menu li.active em {width: 10px; height: 10px; background-color: rgba(173, 0, 255, 0.8);}
#contents .sections {height: 100vh; display: flex; justify-content: center; align-items: center;}
#contents .sections h2 {
  font-size: 4vw; text-align: center; font-weight: 600; text-shadow: .3vw .3vw 0 #474747;
  color: #fff; display: block; width: 1000px; margin: 0 auto;
}
#contents .sections h2 em {opacity: 0; display: inline-block;}

#contents #sec1 {background: radial-gradient(ellipse farthest-corner at 20% 80%, #c66868 40%, #78c668 60%);}
#contents #sec1 h2 em.show {animation: ani1 .35s ease forwards;}
#contents #sec2 {background: radial-gradient(circle, #3a9f2d, #829f2d 45%, #9d9f2d 75%);}
#contents #sec2 h2 em.show {animation: ani2 .35s ease forwards;}
#contents #sec3 {background: radial-gradient(closest-side, #172fd2, #1757d2 50%, #176dd2 75%);}
#contents #sec3 h2 em.show {animation: ani3 .35s ease forwards;}
#contents #sec4 {background: radial-gradient(closest-corner at 50% 50%, #05c9b8, #26998f 45%, #316c67 75%);}
#contents #sec4 h2 em.show {animation: ani4 .35s ease forwards;}
#contents #sec5 {background: radial-gradient(farthest-side, #19cfbe , #19cf3b, #5b7934);}
#contents #sec5 h2 em.show {animation: ani5 .35s ease forwards;}


@keyframes ani1 {
  0% {opacity: 0}
  100% {opacity: 1}
}
@keyframes ani2 {
  40% {transform: translate(200px, 100px) rotate(90deg) scale(3);}
  100% {transform: translate(0) rotate(0) scale(1); opacity: 1;}
}
@keyframes ani3 {
  40% {transform: translate(-30px, -30px) rotate(0) scale(1.5);}
  75% {transform: translate(50px, 10px) rotate(180deg) scale(.5); color: #208138;}
  100% {transform: translate(0) rotate(0) scale(1); opacity: 1;}
}
@keyframes ani4 {
  40% {transform: translate(70px, -80px) rotate(0) scale(1.5);}
  75% {transform: translate(-50px, 70px) rotate(180deg) scale(.5); color: #8198d5;}
  100% {transform: translate(0) rotate(0) scale(1); opacity: 1;}
}
@keyframes ani5 {
  40% {transform: translate(100px, 0) rotate(180deg) scale(.5);}
  75% {transform: translate(-50px, 0) rotate(0) scale(1.2); color: #e047d5;}
  100% {transform: translate(0) rotate(0) scale(1); opacity: 1;}
}































/* // */
