@charset "utf-8";

html, body {height: 100%;}

#wrap { background: url(../img/background2.jpg) repeat-x top;}
/* 컨테이너 초기화 */
.container {width: 1200px; height: inherit; margin: 0 auto;}

#wrap {}

/* 헤더 */
/* 헤더 상단메뉴(header menu) */
header {height: 327px;}
header .container .header_menu {text-align: right;}
header .container .header_menu a {color: rgb(54, 18, 18); font-weight: bold; padding: 6px 8px 8px 0;
display: inline-block; transition: color 0.5s ease; text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
font-family: "goldman-title";}
header .header_menu a:hover {color: darkgoldenrod;}

/* 헤더 타이틀(header title) */
header .header_tit {text-align: center; margin-top: 55px;}
header .header_tit h1 {font-family: "yeonsung"; font-size: 40px; font-weight: bold;
background-color: #f48fb1; display: inline-block; padding: 5px 30px 5px 30px; letter-spacing: 2px;
transition: box-shadow 0.4s ease-in-out;}
header .header_tit h1:hover {
    box-shadow:
    inset -9em 0 0 0 #f44336,
    inset 9em 0 0 0 #f44336;
}
header .header_tit a {font-size: 16px; color: #fce4ec; display: inline-block; padding:  2px 10px 2px 10px;
background-color: #ec407a; margin-top: -1px; transition: box-shadow 0.25s ease-in-out; font-family: "goldman-title";}
header .header_tit a:hover {
    box-shadow:
    inset 0 0 0 5px #880e4f,
    inset 0 0 0 100px #880e4f;
}

/* 헤더 아이콘(header icon) */
header .header_icon {text-align: center; margin-top: 40px; padding-bottom: 45px;}
header .header_icon li {margin: 0 10px; display: inline;}
header .header_icon li a {color: #880e4f; font-size: 35px; position: relative; display: inline-block;
    width: 60px; height: 60px;background-color: #ef9a9a; border-radius: 50%;transition: box-shadow 0.3s ease;}
header .header_icon li a span {
    position: absolute; left: 50%; top: -30px; padding: 0 3px 0 3px; transform: translate(-50%);
    font-size: 12px; font-weight: bold; line-height: 1.6; font-family: "yeonsung";
    background-color: #ef9a9a; border-radius: 6px 0; opacity: 0;
    transition: all 0.3s ease;
}
header .header_icon li a span::before {
    content: ''; position: absolute;
    left: 50%; bottom: -5px; margin-left: -5px;
    border-top: 5px solid #ef9a9a; border-left: 5px solid transparent; border-right: 5px solid transparent;
}
header .header_icon li a:hover span {
    top: -33px; opacity: 1;
}
header .header_icon li a:hover {
    box-shadow:
    inset 0 0 0 5px #e53935,
    inset 0 0 0 100px #e53935;
}
/* //헤더 */








/* 내비 전체 메뉴 */
nav {background-color: rgba(158,158,158,0.7);}
nav h3 {
  color: #01579b;
  font-size: 25px;
  text-align: center;
  font-family: "yeonsung";
  font-weight: bold;
}
nav ol {
  text-align: center;
}
nav ol li {
  height: 120px;
  width: 120px;
  display: inline-block;
  margin: 10px 30px;
  border-radius: 50%;
  border: 2px solid #000;
  position: relative;
  overflow: hidden;
}
nav ol li a {
  width: 100%;
  height: 100%;
  display: block;
}

.nav > div li.menu_img1 {background: url(../img/menu_baddiesel.png) no-repeat; background-size: contain;}
.nav > div li.menu_img2 {background: url(../img/menu_FireWatch.png) no-repeat; background-size: contain;}
.nav > div li.menu_img3 {background: url(../img/menu_gardenstudio.png) no-repeat; background-size: contain;}
.nav > div li.menu_img4 {background: url(../img/menu_HelloMonday.png) no-repeat; background-size: contain;}
.nav > div li.menu_img5 {background: url(../img/menu_ToyFight.png) no-repeat; background-size: contain;}

.nav > div li  a span {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  background: rgba(90, 60, 60, 0.6);
  width: 0;
  height: 50%;
  top: 25%;
  left: 50%;
  position: absolute;
  font-size: 30px;
  color: #fff;
  font-family: "yeonsung";
  text-align: center;
  line-height: 60px;
  overflow: hidden;
}
.nav > div li a:hover span {opacity: 1; width: 100%; left: 0;}







/* 메뉴열기 (서브타이틀) */
#sub_tit {
  background: rgba(224, 224, 224, 0.7);
}
#sub_tit .container {
  position: relative;
}
#sub_tit h2
{
  text-align: center;
  font-size: 35px;
  font-family: "yeonsung";
  padding: 15px 10px;
  text-shadow: 0 3px 2px  #bdbdbd;
}
#sub_tit .button {
  width: 65px;
  height: 65px;
  font-size: 50px;
  position: absolute;
  top: 10px;
  right: 80px;
  background-color: #827717;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
#sub_tit .button:hover {
  box-shadow:
  0 0 0 3px #33691e inset,
  0 0 0 100px #689f38 inset;
}
#sub_tit .button i  {
  position: absolute;
  color: #e6ee9c;
  top: 7px;
  right: 9px;
}






/* 메인 컨텐츠 작업 */
/* 메인 컨텐츠 일괄작업 작업 */
main {background-color: #e8eaf6;}
#contents {position: relative;}
#contents .container {
  border-right: 2px solid #888; border-left: 2px solid #888;}
#contents .left {float: left; width: 250px;}
#contents .center {
    overflow: hidden; min-height: 1300px; margin-right: 250px;
    border-right: 2px solid #888;
    border-left: 2px solid #888;
}
#contents .right {
  position: absolute; right: 0; top: 0; width: 250px;
}

 #contents section {
  text-align: center;
  font-family: 'Stylish', sans-serif;
}
 #contents section .column {
  border-bottom: 1px solid #666;
  padding: 20px 20px;
}
 #contents section .column:last-child {
  border-bottom: 0;
}
 #contents .col_tit {
   color: #6200ea;
  font-size: 20px;
  border-bottom: 1px dashed #999;
  font-weight: bold;
}
 #contents .col_desc {
  font-size: 15px;
  border-bottom: 2px dashed #444;
  padding: 10px 5px;
  display: block;
}
/* //메인 컨텐츠 일괄작업 작업 */

/* 왼쪽 컨텐츠1 :: 메뉴 작업 */
 #contents .left .col1 .col_desc {display: block;}
 #contents .left .col1 ul li {
  position: relative;
  text-align: left;
  border-bottom: 1px dashed #999;
}
 #contents .left .col1 ul li i {
  position: absolute;
  top: 20px; right: 10px;
}
 #contents .left .col1 ul li a {
  padding: 15px 10px;
  font-size: 20px;
  display: block;
  transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
}
 #contents .left .col1 ul li a:hover {
  box-shadow:
  inset 180px 0 0 0 #ffc107;
  color: #e65100;
  background-color: #ffd54f;
}
/* //왼쪽 컨텐츠1 :: 메뉴 작업 */

/* 왼쪽 컨텐츠2 :: 사이드 한줄효과 메뉴 작업 */
#contents .left .column.col2 {position: relative;}
#contents .left .column.col2 ul li {
  position: relative;
  padding: 5px 7px;
  text-align: left;
  border-bottom: 1px dashed #888;
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}
#contents .left .column.col2 ul li::before {
  content: '';
  background: #004d40;
  width: 3px; height: 3px;
  position: absolute;
  top: 13px; left: 0;
  border-radius: 50%;
}
#contents .left .column.col2 .more {
  position: absolute; right: 5px; top: 5px;
  color: #878787;
  text-transform: uppercase;
  font-size: 15px;
}
#contents .left .column.col2 .more:hover {
  color: #f48fb1;
}
/* //왼쪽 컨텐츠2 :: 사이드 한줄효과 메뉴 작업 */

/* 왼쪽 컨텐츠3 :: 사이드 두줄효과 메뉴 작업 */
#contents .left .column.col3 {position: relative;}
#contents .left .column.col3 ul li {
  position: relative;
  padding: 5px 7px;
  text-align: left;
  border-bottom: 1px dashed #888;

  /* 두줄효과 적용을 위한 webkit 효과 */
  overflow: hidden; text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  /* //두줄효과 적용을 위한 webkit 효과 */
  max-height: 35px; /* 익스플로러에서는 적용이 안되서 대체용 */
}
#contents .left .column.col3 ul li::before {
  content: '';
  background: #004d40;
  width: 3px; height: 3px;
  position: absolute;
  top: 13px; left: 0;
  border-radius: 50%;
}
#contents .left .column.col3 .more {
  position: absolute; right: 5px; top: 5px;
  color: #878787;
  text-transform: uppercase;
  font-size: 15px;
}
#contents .left .column.col3 .more:hover {
  color: #f48fb1;
}


/*
main #contents .center {
  width: 100%;
}
main #contents .center .mainContainer {
  margin: 0 302px;
  background-color: #e8eaf6;
  border-bottom: 2px solid #666;
  border-top: 2px solid #666;
  display: block;
}

main #contents .right {
  width: 300px;
  top: 0; right: 0;
  position: absolute;
  border: 2px solid #666;
}
*/

footer {height: 150px; background-color: #fff;
  clear: both;
}



















/* 미디어 쿼리 */
@media (max-width: 1220px){
    .container {width: 100%;}
    header .container .header_menu a {padding-right: 15px;}
    .nav > div li.menu_img5 {display: none;}
    /* // 반응형 전체 컨테이너, 헤더, 서브타이틀 작업 */

  #contents .container { border: 0;}
}
@media (max-width: 960px){
  main #contents .center {
    margin-right: 0; border-right: 0;
  }
  main #contents .right {
    position: static;
    width: 100%;
    border-top: 2px solid #888;
  }
  /* // 반응형 메인 컨텐츠 작업 */
}
@media (max-width: 768px){
  header {height: 50px;}
  header .header_tit {display: none;}
  header .header_icon {display: none;}
  /* //반응형 헤더 작업 768 */
  .nav > div li.menu_img3 {display: none;}
  .nav > div li.menu_img4 {display: none;}
  #sub_tit .button {right: 20px;}
  /* //반응형 서브타이틀 작업 768 */
  main #contents .center {
    border-top: 2px solid #888;
  }
  main #contents .left {
    position: static;
    width: 100%;
  }
  /* // 반응형 메인 컨텐츠 작업 768 */
}
@media (max-width: 480px){
  nav  {display: none;}
  /* 반응형 모바일 화면에서 탑 nav 제거 */

  #contents .left .col1 {padding: 0;}
  #contents .left .col1 .col_tit {display: none;}
  #contents .left .col1 .col_desc {display: none;}
  #contents .left .col1 ul li {width: 32%; display: inline-block; text-align: center;}
  #contents .left .col1 ul li i {display: none;}
  #contents .left .col1 ul li:nth-child(n+2):nth-child(-n+3){border-left: 1px dashed #999;}
  #contents .left .col1 ul li:nth-child(n+5):nth-child(-n+6){border-left: 1px dashed #999;}
  #contents .left .col1 ul li:nth-child(n+4):nth-child(-n+6){border-bottom: 0;}
  #contents .left .col1 ul li a:hover {
    box-shadow:
    inset 100px 0 0 0 #ffc107;
  }
  /* //반응형 왼쪽 컨텐츠 작업(타이틀 빼주기) */

}
