@charset "utf-8";

/* 폰트 초기화 */
@font-face {
    src: url(../fonts/Goldman-Bold.ttf);
    font-family: "goldman-title";
}
@font-face {
    src: url(../fonts/YeonSung-Regular.ttf);
    font-family: "yeonsung";
}