@charset "UTF-8";

body {background-color: #26222e;}
#nav {position: relative;}
#nav .nav {position: fixed; top: 0; left: 0; width: 100%; background-color: rgba(0,0,0,0.8);}
#nav h2 {font-size: 35px; padding: 5px 30px; color: #fff;
text-shadow: 2px 2px 0px #969696;}
#contents {}
#contents .container {width: 1200px; margin: 0 auto;}
#contents .container h3 {
  font-size: 4vw; padding: 40vh 0; color: #fff;
  text-shadow: .2vw .2vw 0 #777777;
}
#contents .container .imgWrap {}
#contents .container .img {
  background-image: url(../img2.jpg);
  width: 100%; min-height: 450px; background-position: center center;
  margin: 15vh 0; background-repeat: no-repeat; background-size: cover;
}

#contents .container #img1 {filter: blur(5px);}
#contents .container #img2 {filter: brightness(0.4);}
#contents .container #img3 {filter: contrast(50%);}
#contents .container #img4 {filter: drop-shadow(16px 16px 20px blue);}
#contents .container #img5 {filter: grayscale(50%);}
#contents .container #img6 {filter: hue-rotate(90deg);}
#contents .container #img7 {filter: invert(75%);}
#contents .container #img8 {filter: opacity(25%);}
#contents .container #img9 {filter: saturate(30%);}
#contents .container #img10 {filter: sepia(60%);}




/* // */
