@charset "UTF-8";

#wrap {background: radial-gradient(ellipse farthest-corner at 20% 80%, #403763 0%, #211d33 80%); box-sizing: border-box;}
#nav {position: relative; z-index: 1000;}
#nav .nav {position: fixed; top: 0; left: 0; width: 100%; background-color: rgba(255,255,255,0.2);}
#nav .nav h2 {font-size: 35px; padding: 5px 30px; font-weight: 600; color: #fff; text-shadow: 2px 2px 0px #242424;}
#contents {}
#contents .container {width: 1200px; margin: 0 auto;}
#contents .container h2 {
  padding: 35vh 0  ; font-size: 5vw; text-shadow: .3vw .3vw 0 #242424; color: #fff;
  text-align: center;
}
#contents .container #imgWrap {
  height: auto; display: flex; flex-direction: column;
}
#contents .container #imgWrap .img_box {position: relative;}
#contents .container #imgWrap .img_box .img {
  background-image: url(../img2.jpg); width: 100%; min-height: 450px;
  margin: 80px 0; background-size: cover; background-position: center center;
  background-repeat: no-repeat;
}
#contents .container #imgWrap .img_box .text {
  position: absolute; top: 90px; left: 10px; font-size: 25px; font-weight: 600;
  color: #fff; text-shadow: 3px 3px 0 #292929;
}

#contents .container #imgWrap .img_box #img1 {filter: blur(4px);}
#contents .container #imgWrap .img_box #img2 {filter: brightness(0.5);}
#contents .container #imgWrap .img_box #img3 {filter: contrast(50%);}
#contents .container #imgWrap .img_box #img4 {filter: drop-shadow(10px 10px 20px #ad2020);}
#contents .container #imgWrap .img_box #img5 {filter: grayscale(50%);}
#contents .container #imgWrap .img_box #img6 {filter: hue-rotate(80deg);}
#contents .container #imgWrap .img_box #img7 {filter: invert(75%);}
#contents .container #imgWrap .img_box #img8 {filter: opacity(30%);}
#contents .container #imgWrap .img_box #img9 {filter: saturate(60%);}
#contents .container #imgWrap .img_box #img10 {filter: sepia(80%);}





/* // */
