@charset "UTF-8";

#wrap {background: radial-gradient(ellipse farthest-corner at 30% 80%, #354d53, #1a2c30);}
#nav {position: relative; z-index: 1000;}
#nav .nav {
  position: fixed; top: 0; left: 0; width: 100%;
  background-color: rgba(255,255,255,0.3);
}
#nav h2 {
  font-size: 35px; text-shadow: 2px 2px 0 #535353;
  color: #fff; padding: 5px 30px; font-weight: bold;
}

#contents {flex-direction: column; display: flex;}
#contents .container {width: 1200px; margin: 0 auto;}
#contents h2 {
  padding: 35vh 0; font-size: 4vw; text-shadow: .4vw .3vw 0 #bababa;
  color: #000; text-align: center; font-weight: 600;
}
#contents #imgWrap {}
#contents .img-box {
  margin: 20vh 1vh; position: relative;
}
#contents .img-box .img {
  background-image: url(../img1.jpg); width: 100%; min-height: 450px;
  background-size: cover; background-position: center center;
}
#contents .img-box .text {
  position: absolute; top: 10px; left: 10px; color: #fff;
  text-shadow: 2px 2px 0 #242424; font-size: 25px;
}

#contents .img-box#box1 .img {filter: blur(5px);}
#contents .img-box#box2 .img {filter: brightness(0.6);}
#contents .img-box#box3 .img {filter: contrast(0.4);}
#contents .img-box#box4 .img {filter: drop-shadow(1vw 1vw 0 #a471b9);}
#contents .img-box#box5 .img {filter: grayscale(0.8);}
#contents .img-box#box6 .img {filter: hue-rotate(180deg);}
#contents .img-box#box7 .img {filter: invert(.75);}
#contents .img-box#box8 .img {filter: opacity(0.5);}
#contents .img-box#box9 .img {filter: sepia(0.8);}













/* // */
